.tab-title{
  font-size: 0.9rem;
  display: flex;
  color: #333;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  justify-content: center;
  width: fit-content;
  text-align: center;
  background-color: none;
  border: none;
  font-weight: 600;
  
}

button.tab-title-with-line{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-align: center;
  background-color: unset;
  border: none;
}
.tab-title-with-line{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}
.tab-title-with-line.wide{
  width: 100%;
  align-items: flex-start;
  .line{
    width: 100%;
  }
}
.tab-title-with-line .line{
  width: 85%;
  height: 0.2rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;;
}